@tailwind base;
@tailwind components;
@tailwind utilities;


/* Info toast (blue) */
.toast-info {
  background: #3b82f6; /* blue background */
}
.toast-info .Toastify__progress-bar {
  background: linear-gradient(to right, #60a5fa, #3b82f6); /* blue gradient */
}

/* Success toast (green) */
.toast-success {
  background: #16a34a;
}
.toast-success .Toastify__progress-bar {
  background: linear-gradient(to right, #4ade80, #16a34a);
}

/* Warning toast (yellow) */
.toast-warning {
  background: #facc15;
}
.toast-warning .Toastify__progress-bar {
  background: linear-gradient(to right, #fde68a, #facc15);
}

/* Error toast (red) */
.toast-error {
  background: #ef4444;
}
.toast-error .Toastify__progress-bar {
  background: linear-gradient(to right, #f87171, #ef4444);
}
